<form [formGroup]="resetPasswordForm">
  <div class="login-box">
    <h2>Password Reset</h2>
    <p>Enter your new password</p>
    <div class="input-row">
      <p>New Password</p>
      <mat-form-field class="large-size" appearance="outline">
        <input matInput placeholder="Enter your new password" formControlName="password" type="password" />
        <mat-error *ngIf="password?.hasError('required') && password?.touched">
          Password is required
        </mat-error>
        <mat-error *ngIf="password?.hasError('minlength') && password?.touched">
          Minimum 6 characters required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-row">
      <p>Confirm Password</p>
      <mat-form-field class="large-size" appearance="outline">
        <input matInput placeholder="Confirm your password" formControlName="confirmPassword" type="password" />
        <mat-error *ngIf="confirmPassword?.hasError('required') && confirmPassword?.touched">
          Confirmation is required
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch') && confirmPassword?.touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </div>
    <div class="forgot-password-content"></div>
    <button mat-button class="primary-large-btn"  (click)="onUpdatePassword()">Update Password</button>
    <div class="border-line"></div>
    <div class="sign-up">
      <p>Already have an account?<span (click)="backToLogin()">Sign In</span></p>
    </div>
  </div>
</form>
