.footer {
  /*position: sticky;*/
  bottom: 0;
  left: 0;
  background: var(--sirim-navbar-bg);
  width: 100%;
  padding: 25px 8%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.3s ease;
}

.footer.scrolled {
  background: var(--sirim-bg-base);
}

.footer p {
  margin: 0;
  padding: 0;
  z-index: 5;
  font-size: var(--regular-medium-font);
  color: var(--sirim-text-muted);
}

@media (max-width: 600px) {
  .footer {
    padding: 15px 8%;
  }

  .footer p {
    font-size: var(--regular-default-font);
  }
}
