.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all .40s ease;
}

.left-col, .right-col {
  flex-basis: 50%;
  min-height: 100vh;
  position: relative;
}

.content {
  position: absolute;
  padding: 64px;
  background-image: linear-gradient(rgb(30 27 140 / 70%), rgb(30 27 140 / 70%)
  ),
  url('/assets/images/login-create-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  left: 0;
  top: 0;
}

.logo img {
  margin-bottom: 37px;
}

.content h1 {
  line-height: 44px;
  font-size: var(--regular-ex-large-font);
  color: var(--sirim-gold-color);
  font-weight: bold;
}

.content h2 {
  margin-bottom: 24px;
  font-size: var(--bold-md-large-font);
  color: var(--sirim-login-text-color);
  font-weight: bold;
}

.content p {
  max-width: 592px;
  margin-bottom: 28px;
  word-break: break-word;
  font-weight: 400;
  line-height: 18px;
  font-size: var(--regular-default-font);
  color: var(--sirim-login-sub-text-color);
}

.processing-list {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.processing-list .icon-box {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sirim-processing-list);
  border-radius: 8px;
  border: 1px solid var(--sirim-text-muted);
}

.processing-list .icon-box mat-icon {
  width: 24px;
  color: var(--sirim-extra-amber);
  height: 24px;
}

.processing-list h5 {
  font-size: var(--h5-heading-medium-font);
  color: var(--sirim-login-text-color);
  font-weight: bold;
  margin-bottom: 8px;
}

.processing-list p {
  font-size: var(--regular-small-font);
  color: var(--sirim-login-sub-text-color);
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.create-box-content {
  display: flex;
  padding: 64px 0;
  min-height: 100svh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  transition: all .4s ease;
}


.create-box {
  display: flex;
  padding: 32px;
  margin: auto;
  width: 100%;
  text-align: left;
  max-width: 464px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--sirim-bg-base);
  box-shadow: 0 4px 8px 0 rgba(17, 24, 39, 0.25);
}

.box-margin {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  text-align: center;
  transition: all .4s ease;
}

.create-box h2 {
  color: var(--sirim-text-strong);
  font-weight: bold;
  padding: 0;
  margin-bottom: 4px;
  font-size: var(--h2-large-medium-bold-font) !important;
}

.create-box p {
  color: var(--sirim-text-muted);
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 20px;
  font-size: var(--regular-medium-font) !important;
}

.create-box h3 {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--sirim-text-default);
  margin-bottom: 24px;
}

.border-line {
  background: url("/assets/icons/line.svg");
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
}

.footer-name p {
  position: absolute;
  bottom: 20px;
  color: var(--sirim-text-muted);
  font-size: var(--regular-small-font);
}

.sign-in p {
  margin: 0;
  color: var(--sirim-text-subtle) !important;
  font-size: var(--regular-small-font) !important;
}

.sign-in span {
  margin-left: 5px;
  cursor: pointer;
  color: var(--sirim-blue-color) !important;
  font-size: var(--regular-small-font);
}

.user-type-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;
  padding: 12px;
  margin-bottom: 24px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--sirim-bg-subtle);
  box-shadow: 0 4px 8px 0 var(--create-account-outershadow);
}

.user-type-box .icon-box {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sirim-info-bg);
  color: var(--sirim-info-primary);
  border-radius: 8px;
}

.fist-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.custom-icon-button {
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-icon-button .mat-icon {
  position: relative;
  color: var(--sirim-text-default);
  top: -2px;
  width: 8px;
  height: auto;
}

.custom-icon-button:hover {
  background: var(--sirim-info-bg) !important;
  color: var(--sirim-info-primary) !important;
}

.content-text {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.user-type-box h2 {
  color: var(--sirim-text-default);
  font-size: var(--bold-default-font) !important;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.user-type-box p {
  color: var(--sirim-text-subtle);
  font-size: var(--regular-small-font) !important;
  line-height: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (max-width: 1132px) {
  .content {
    padding: 64px 35px;
    transition: all .4s ease;
  }

  .content h1 {
    font-size: var(--h2-large-medium-bold-font);
    transition: all .4s ease;
  }

  .content h2 {
    font-size: var(--h4-heading-large-font);
    transition: all .4s ease;
  }

  .content p {
    font-size: var(--regular-small-font);
  }

  .processing-list h5 {
    font-size: var(--h6-heading-small-font);
    transition: all .4s ease;
  }

  .box h2 {
    font-size: var(--h3-large-small-bold-font);
    transition: all .4s ease;
  }

  .counter-box {
    gap: 20px;
    transition: all .4s ease;
  }

  .counter-box .box {
    padding: 5px;
    transition: all .4s ease;
  }
  .counter-box {
    gap: 20px;
    transition: all .4s ease;
  }

  .counter-box .box {
    padding: 5px;
    transition: all .4s ease;
  }

  .create-box {
    max-width: 385px;
    transition: all .4s ease;
  }
}

@media (max-width: 870px) {
  .logo {
    width: 60px;
    transition: all .4s ease;
  }

  .content h1 {
    font-size: var(--h3-large-small-bold-font);
    line-height: 20px;
    transition: all .4s ease;
  }

  .content h2 {
    font-size: var(--h5-heading-medium-font);
    transition: all .4s ease;
  }

  .create-box h2 {
    font-size: var(--h3-large-small-bold-font);
    transition: all .4s ease;
  }

  .processing-list .icon-box {
    width: 40px;
    height: 40px;
    transition: all .4s ease;
  }

  .processing-list .icon-box mat-icon {
    width: 20px;
    transition: all .4s ease;
  }

  .processing-list h5 {
    font-size: var(--regular-default-font);
    margin-bottom: 5px;
    transition: all .4s ease;

  }

  .content p {
    font-size: var(--regular-extra-small-font);
    transition: all .4s ease;
  }

  .create-box {
    max-width: 315px;
    transition: all .4s ease;
  }
}

@media (max-width: 730px) {
  .left-col {
    display: none;
  }

  .right-col {
    flex-basis: 100%;
    padding: 15px;
  }

  .create-box {
    max-width: 435px;
    padding: 17px;
    transition: all .4s ease;
  }

  .create-box-content {
    height: 100%;
    min-height: 100%;
  }

  .create-box p {
    font-size: var(--regular-small-font) !important;
  }

  .footer-name p {
    font-size: var(--regular-default-font);
  }
}
