<div class="msg-popup msg-popup--success">
  <section class="icon-section">
    <div class="msg-icon">
      <mat-icon svgIcon="pending"></mat-icon>
    </div>
  </section>
  <main class="main-content">
    <div class="content-section">
      <h1 class="popup-title">
        Message Title Goes Here
      </h1>
    </div>
    <div class="body-content-section">
      <p>
        Message Content Line 01 Goes Here
      </p>
    </div>
    <div class="button-container">
      <button mat-button class="clear-btn clear-btn--success" (click)="closeDialog()">Close</button>
      <button mat-button class="success-btn msg-popup--success">Okay</button>
    </div>
  </main>
</div>
