<form [formGroup]="loginForm">
  <div class="wrapper">
    <div class="left-col">
      <div class="content" [ngClass]="{
  'collapsed-content': currentView === 'forgotPassword'
}">
        <div class="logo">
          <img src="assets/images/logo.svg" alt="">
        </div>
        <h1>Certificate of Approval</h1>
        <h2>Management System</h2>
        <p>Experience the next generation of digital certification with AI-powered workflows, real-time collaboration,
          and
          seamless compliance management.</p>
        <div class="processing-list">
          <div class="icon-box">
            <mat-icon svgIcon="lightning"></mat-icon>
          </div>
          <div class="icon-content">
            <h5>Lightning-fast Processing</h5>
            <p>AI-powered automation reduces processing time by 70%</p>
          </div>
        </div>
        <div class="processing-list">
          <div class="icon-box">
            <mat-icon svgIcon="world"></mat-icon>
          </div>
          <div class="icon-content">
            <h5>Global Compliance Standards</h5>
            <p>Meets international certification requirements</p>
          </div>
        </div>
        <div class="processing-list">
          <div class="icon-box">
            <mat-icon svgIcon="badge"></mat-icon>
          </div>
          <div class="icon-content">
            <h5>Premium Security</h5>
            <p>Bank-level encryption and audit trails
            </p>
          </div>
        </div>
        <div class="footer-name">
          <p> © 2025 SIRIM Berhad. All rights reserved.</p>
        </div>
      </div>
    </div>
    <div class="right-col">
      <div class="login-box-content">
        <div class="box-margin">
          <div class="login-box" *ngIf="currentView === 'login'">
            <h2>Welcome Back</h2>
            <p>Log in to access your dashboard</p>
            <div class="input-row">
              <p>Username</p>
              <mat-form-field class="large-size" appearance="outline">
                <input matInput placeholder="Enter your username" formControlName="username"/>
                <mat-error
                  *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
                  Username is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input-row">
              <p>Password</p>
              <mat-form-field class="large-size" appearance="outline">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
                       formControlName="password">
                <button type="button" [type]="hide ? 'password' : 'text'" mat-icon-button matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <i class='bx' [ngClass]="hide ? 'bx-hide' : 'bx-show'" style="color: #9CA3AF; font-size: 20px;"></i>
                </button>
                <mat-error
                  *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                  Password is required
                </mat-error>
                <mat-error
                  *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
                  Minimum 6 characters required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="forgot-password-content">
              <div class="remember-me">
                <mat-checkbox class="custom-checkbox">
                  Remember Me
                </mat-checkbox>
              </div>
              <div class="forgot-password" (click)="showForgotPassword()">
                <p>Forgot Password?</p>
              </div>
            </div>
            <button mat-button class="primary-large-btn" (click)="onLoginClick()">Log In</button>
            <div class="border-line"></div>
            <div class="sign-up">
              <p>Don't have an account?<span (click)="onSigninClick()">Register Now</span></p>
            </div>
          </div>
          <app-forgot-password *ngIf="currentView === 'forgotPassword'" (back)="showLogin()"
                               (goToResetPassword)="showResetPassword()"></app-forgot-password>
          <app-reset-password *ngIf="currentView === 'resetPassword'" (back)="showLogin()"></app-reset-password>

        </div>
      </div>
    </div>
  </div>
</form>
