.main-content {
  display: flex;
  padding: 140px 8% 0 8%;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}

.sub-content {
  display: flex;
  padding: 32px 32px 0;
  width: 100%;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--sirim-bg-base);
  box-shadow: 0 0 20px 0 var(--dropdown-menu-list-outershadow);
}

.sub-content h1 {
  font-size: var(--h2-large-medium-bold-font);
  color: var(--sirim-text-strong);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.sub-content p {
  font-size: var(--regular-medium-font);
  color: var(--sirim-text-muted);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.topic-align{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  margin-bottom: 32px;
}
.content-button{
  display: flex;
  padding: 8px 32px;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-size: var(--regular-medium-font);
  border-radius: 4px;
  font-weight: 400;
  color: var(--sirim-text-default);
  background: var(--sirim-info-bg);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-bottom: 32px;
}

.form-group .form-group-topic h2 {
  font-size: var(--regular-default-font);
  color: var(--sirim-blue-color);
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.mat-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.form-field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-field span {
  color: var(--sirim-text-default);
  font-size: var(--regular-default-font);
  word-break: break-word;
  font-weight: 700;
}

.group-upload {
  display: flex;
  width: 100%;
  gap: 24px;
  transition: all .4s ease;
}

.upload-area-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px dashed var(--sirim-text-muted);
  border-radius: 8px;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 24px;
}

.upload-area-wrapper, .padding-reduce {
  margin-top: 5px;
}

.upload-area {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin-top: 8px;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.upload-icon .mat-icon {
  width: 36px;
  height: auto;
  color: var(--sirim-text-muted);
}

.upload-text {
  display: flex;
  flex-direction: column;
}

.upload-main-text p {
  color: var(--sirim-text-subtle);
  font-size: var(--regular-default-font);
  font-weight: 400;
  word-break: break-word;
  margin: 0;
}

.upload-sub-text p {
  color: var(--sirim-text-muted);
  font-size: var(--regular-small-font);
  font-weight: 400;
  word-break: break-word;
  margin: 0;
}

.file-input {
  display: none;
}

.upload-area-wrapper .upload-file-list {
  display: flex;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  gap: 15px;
}

.upload-file-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.upload-file-list p {
  color: var(--sirim-text-muted);
  font-size: var(--regular-default-font);
  font-weight: 400;
  margin: 0;
}

.upload-area-wrapper .upload-file-item .icon-box {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--sirim-error-primary);
  color: var(--sirim-login-text-color);
  border-radius: 50%;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.second-row {
  display: flex;
  gap: 16px;
}

.secondary-middle-btn {
  width: 135px;
  transition: all .4s ease;
}

.primary-middle-btn {
  width: 198px;
}

.border-line {
  background: url("/assets/icons/line.svg");
  height: 1px;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 10px;
}

.sign-in {
  text-align: center;
  width: 100%;
}

.sign-in p {
  margin: 0;
  color: var(--sirim-text-subtle) !important;
  font-size: var(--regular-small-font) !important;
}

.sign-in span {
  margin-left: 5px;
  cursor: pointer;
  color: var(--sirim-blue-color) !important;
  font-size: var(--regular-small-font);
}

@media (max-width: 1024px) {
  .sub-content h1 {
    font-size: var(--h2-large-medium-bold-font);
    transition: all .4s ease;
  }

  .sub-content p {
    font-size: var(--regular-default-font);
    transition: all .4s ease;
  }

  .phone-code-input-width {
    width: 80px !important;
  }

  .secondary-middle-btn {
    width: 100px;
  }

  .group-upload {
    gap: 10px;
  }

  .upload-main-text p {
    line-height: 17px;
  }
}

@media (max-width: 755px) {
  .sub-content h1 {
    font-size: var(--h3-large-small-bold-font);
    transition: all .4s ease;
  }

  .sub-content p {
    font-size: var(--regular-small-font);
    transition: all .4s ease;
  }

  .mat-row {
    flex-direction: column;
  }

  .form-field {
    width: 100%;
  }

  .button-wrapper {
    flex-direction: column;
    gap: 16px;
  }

  .secondary-middle-btn, .primary-middle-btn {
    width: 100%;
  }

  .second-row {
    flex-direction: column;
  }

  .group-upload {
    flex-direction: column;
    width: 100%;
  }
}

