<app-navbar></app-navbar>
<form [formGroup]="registrationForm">
  <section class="main-content">
    <div class="sub-content">
      <h1>Create Account</h1>
      <p>Complete your registration details</p>
      <div class="form-group">
        <div class="mat-row">
          <div class="form-field">
            <span>Company Name <i class="input-required"> *</i></span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Company Name Here" formControlName="companyName"/>
              <mat-error
                *ngIf="registrationForm.get('companyName')?.hasError('required') && registrationForm.get('companyName')?.touched">
                Company Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <span>Business Registration Number<i class="input-required"> *</i></span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="SSM/ROC/Foreign ID" formControlName="businessRegNo"/>
              <mat-error
                *ngIf="registrationForm.get('businessRegNo')?.hasError('required') && registrationForm.get('businessRegNo')?.touched">
                Business Registration Number is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <span>Company Address  <i class="input-required"> *</i></span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Company Address Here" formControlName="companyAddress"/>
              <mat-error
                *ngIf="registrationForm.get('companyAddress')?.hasError('required') && registrationForm.get('companyAddress')?.touched">
                Company Address is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-topic">
          <h2>Contact Person Details</h2>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <span>Contact Person Name <i class="input-required"> *</i></span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Contact Person Name Here" formControlName="contactPersonName"/>
              <mat-error
                *ngIf="registrationForm.get('contactPersonName')?.hasError('required') && registrationForm.get('contactPersonName')?.touched">
                Contact Person Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-field">
            <span>Contact Person Position<i class="input-required"> *</i></span>
            <mat-form-field appearance="outline" class="large-size">
              <mat-select placeholder="Select Contact Person Position" formControlName="contactPersonPosition">
                <mat-option value="manager">Manager</mat-option>
                <mat-option value="director">Director</mat-option>
                <mat-option value="employee">Employee</mat-option>
              </mat-select>
              <mat-error
                *ngIf="registrationForm.get('contactPersonPosition')?.hasError('required') && registrationForm.get('contactPersonPosition')?.touched">
                Contact Person Position is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <span>Phone Number <i class="input-required"> *</i></span>

            <div class="phone-full-width">
              <mat-form-field appearance="outline" class="large-size phone-code-input-width">
                <mat-select [(value)]="selectedCountry">
                  <mat-option *ngFor="let country of countryCodes" [value]="country">
                    <img [src]="country.flag" alt="{{country.country}} Flag" class="phone-flag-prefix"/>
                    {{ country.country }} ({{ country.calling_code }})
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="large-size phone-code-input-full-width">
    <span matPrefix class="phone-input-label-right">
      {{ selectedCountry.calling_code }}
    </span>
                <input
                  matInput
                  placeholder="Enter Valid Mobile No Here"
                  formControlName="phoneNumber"
                  name="phoneNumber"
                  autocomplete="tel"
                />
                <mat-error
                  *ngIf="registrationForm.get('phoneNumber')?.hasError('required') && registrationForm.get('phoneNumber')?.touched">
                  Phone number is required
                </mat-error>
                <mat-error
                  *ngIf="registrationForm.get('phoneNumber')?.hasError('pattern') && registrationForm.get('phoneNumber')?.touched">
                  Phone number must be 7-15 digits
                </mat-error>
              </mat-form-field>
            </div>

          </div>
          <div class="form-field">
            <span>Email Address <i class="input-required"> *</i></span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Email Address Here" formControlName="emailAddress"/>
              <mat-error
                *ngIf="registrationForm.get('emailAddress')?.hasError('required') && registrationForm.get('emailAddress')?.touched">
                Email is required
              </mat-error>
              <mat-error
                *ngIf="registrationForm.get('emailAddress')?.hasError('email') && registrationForm.get('emailAddress')?.touched">
                Enter a valid email
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <span>Website</span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Web Site Here" formControlName="website"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="userType === 'agent'">
        <div class="form-group-topic">
          <h2>Agent Company Details</h2>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <span>Agent Company Name</span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Agent Company Name Here"/>
            </mat-form-field>
          </div>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <span>Agent Contact Person Name </span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Agent Contact Person Name Here"/>
            </mat-form-field>
          </div>
          <div class="form-field">
            <span>Agent Contact Person Position</span>
            <mat-form-field appearance="outline" class="large-size">
              <mat-select placeholder="Select Agent Contact Person Position">
                <mat-option value="manager">Manager</mat-option>
                <mat-option value="director">Director</mat-option>
                <mat-option value="employee">Employee</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <span>Agent Phone Number</span>

            <div class="phone-full-width">
              <mat-form-field appearance="outline" class="large-size phone-code-input-width">
                <mat-select [(value)]="selectedCountry1">
                  <mat-option *ngFor="let country of countryCodes" [value]="country">
                    <img [src]="country.flag" alt="{{country.country}} Flag" class="phone-flag-prefix"/>
                    {{ country.country }} ({{ country.calling_code }})
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="large-size phone-code-input-full-width">
    <span matPrefix class="phone-input-label-right">
      {{ selectedCountry1.calling_code }}
    </span>
                <input
                  matInput
                  placeholder="Enter Valid Mobile No Here"
                  formControlName="phoneNumber1"
                  name="phoneNumber"
                  autocomplete="tel"
                />
              </mat-form-field>
            </div>

          </div>
          <div class="form-field">
            <span>Agent Email Address</span>
            <mat-form-field appearance="outline" class="large-size">
              <input matInput placeholder="Enter Agent Email Address Here"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="userType !== 'agent'">
        <div class="form-group-topic">
          <h2>Required Documents</h2>
        </div>

        <div class="mat-row">
          <div class="form-field">
            <span>Company Certificate<i class="input-required"> *</i></span>
            <div class="upload-area-wrapper">
              <div class="upload-area"
                   (click)="onUploadClick('certificate')"
                   (dragover)="onDragOver($event, 'certificate')"
                   (dragleave)="onDragLeave($event, 'certificate')"
                   (drop)="onDrop($event, 'certificate')"
                   [class.dragover]="isDragOver.certificate">

                <input
                  type="file"
                  id="fileInput-certificate"
                  class="file-input"
                  accept=".pdf"
                  multiple
                  (change)="onFileSelected($event, 'certificate')"
                />

                <div class="upload-content">
                  <div class="upload-icon">
                    <mat-icon svgIcon="upload"></mat-icon>
                  </div>
                  <div class="upload-text">
                    <div class="upload-main-text">
                      <p>Click to upload or drag and drop</p>
                    </div>
                    <div class="upload-sub-text">
                      <p>PDF files only. Max 10MB</p>
                    </div>
                  </div>
                </div>
              </div>


              <div *ngIf="uploadedFiles.certificate?.length" class="upload-file-list">
                <div *ngFor="let file of uploadedFiles.certificate; let i = index" class="upload-file-item">
                  <p>{{ file.name }}</p>
                  <div class="icon-box" (click)="removeFile(i, 'certificate')">
                    <mat-icon svgIcon="close"></mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="form-group-topic">
          <h2>Required Documents</h2>
        </div>
        <div class="mat-row">
          <div class="form-field">
            <div class="group-upload" *ngIf="userType === 'agent'">
              <div class="form-field">
                <span>Letter of Authorization<i class="input-required"> *</i></span>
                <div class="upload-area-wrapper padding-reduce">
                  <div class="upload-area"
                       (click)="onUploadClick('loa')"
                       (dragover)="onDragOver($event, 'loa')"
                       (dragleave)="onDragLeave($event, 'loa')"
                       (drop)="onDrop($event, 'loa')"
                       [class.dragover]="isDragOver.loa">

                    <input
                      type="file"
                      id="fileInput-loa"
                      class="file-input"
                      accept=".pdf"
                      multiple
                      (change)="onFileSelected($event, 'loa')"
                    />

                    <div class="upload-content">
                      <div class="upload-icon">
                        <mat-icon svgIcon="upload"></mat-icon>
                      </div>
                      <div class="upload-text">
                        <div class="upload-main-text">
                          <p>Click to upload or drag and drop</p>
                        </div>
                        <div class="upload-sub-text">
                          <p>PDF files only. Max 10MB</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div *ngIf="uploadedFiles.loa.length" class="upload-file-list">
                    <div *ngFor="let file of uploadedFiles.loa; let i = index" class="upload-file-item">
                      <p>{{ file.name }}</p>
                      <div class="icon-box" (click)="removeFile(i, 'loa')">
                        <mat-icon svgIcon="close"></mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-field">
                <span>Identity Document<i class="input-required"> *</i></span>
                <div class="upload-area-wrapper padding-reduce">
                  <div class="upload-area"
                       (click)="onUploadClick('id')"
                       (dragover)="onDragOver($event, 'id')"
                       (dragleave)="onDragLeave($event, 'id')"
                       (drop)="onDrop($event, 'id')"
                       [class.dragover]="isDragOver.id">

                    <input
                      type="file"
                      id="fileInput-id"
                      class="file-input"
                      accept=".pdf"
                      multiple
                      (change)="onFileSelected($event, 'id')"
                    />

                    <div class="upload-content">
                      <div class="upload-icon">
                        <mat-icon svgIcon="upload"></mat-icon>
                      </div>
                      <div class="upload-text">
                        <div class="upload-main-text">
                          <p>Click to upload or drag and drop</p>
                        </div>
                        <div class="upload-sub-text">
                          <p>PDF files only. Max 10MB</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div *ngIf="uploadedFiles.id.length" class="upload-file-list">
                    <div *ngFor="let file of uploadedFiles.id; let i = index" class="upload-file-item">
                      <p>{{ file.name }}</p>
                      <div class="icon-box" (click)="removeFile(i, 'id')">
                        <mat-icon svgIcon="close"></mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-field">
                <span>Agent Authorization Letter</span>
                <div class="upload-area-wrapper padding-reduce">
                  <div class="upload-area"
                       (click)="onUploadClick('agent')"
                       (dragover)="onDragOver($event, 'agent')"
                       (dragleave)="onDragLeave($event, 'agent')"
                       (drop)="onDrop($event, 'agent')"
                       [class.dragover]="isDragOver.agent">

                    <input
                      type="file"
                      id="fileInput-agent"
                      class="file-input"
                      accept=".pdf"
                      multiple
                      (change)="onFileSelected($event, 'agent')"
                    />

                    <div class="upload-content">
                      <div class="upload-icon">
                        <mat-icon svgIcon="upload"></mat-icon>
                      </div>
                      <div class="upload-text">
                        <div class="upload-main-text">
                          <p>Click to upload or drag and drop</p>
                        </div>
                        <div class="upload-sub-text">
                          <p>PDF files only. Max 10MB</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div *ngIf="uploadedFiles.agent.length" class="upload-file-list">
                    <div *ngFor="let file of uploadedFiles.agent; let i = index" class="upload-file-item">
                      <p>{{ file.name }}</p>
                      <div class="icon-box" (click)="removeFile(i, 'agent')">
                        <mat-icon svgIcon="close"></mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="button-wrapper">
          <div class="fist-row">
            <button mat-button class="secondary-middle-btn">Save Draft</button>
          </div>
          <div class="second-row">
            <button mat-button class="secondary-middle-btn">Clear Form</button>
            <button mat-button class="secondary-middle-btn">Print Form</button>
            <button mat-button class="primary-middle-btn">Submit Registration</button>
          </div>
        </div>
      </div>
      <div class="border-line"></div>
      <div class="form-group">
        <div class="sign-in">
          <p>Already have an account?<span (click)="goToLogin()">Sign In</span></p>
        </div>
      </div>
    </div>
  </section>
</form>

<app-footer></app-footer>
