<mat-form-field appearance="outline">
  <input matInput placeholder="Input placeholder"/>
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-select placeholder="Status" >
    <mat-option value="1">Active</mat-option>
    <mat-option value="2">Inactive</mat-option>
    <mat-option value="3">Active</mat-option>
  </mat-select>
</mat-form-field>

<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1" [disabled]="false">Radio Button Label (Unchecked)</mat-radio-button>
  <mat-radio-button value="2" [disabled]="true">Option 2</mat-radio-button>
</mat-radio-group>

<mat-checkbox class="custom-checkbox">
  I agree to the terms and conditions
</mat-checkbox>
<mat-checkbox class="custom-checkbox" disabled>
  I agree to the terms and conditions
</mat-checkbox>

<button mat-button class="primary-large-btn">Mat-Buttons</button>
<button mat-button class="primary-default-btn">Mat-Buttons</button>
<button mat-button class="primary-small-btn">Mat-Buttons</button>
<button mat-button class="primary-xs-small-btn">Mat-Buttons</button>

<button mat-button class="secondary-large-btn">Mat-Buttons</button>
<button mat-button class="secondary-default-btn">Mat-Buttons</button>
<button mat-button class="secondary-small-btn">Mat-Buttons</button>
<button mat-button class="secondary-xs-small-btn">Mat-Buttons</button>

<button mat-button class="success-btn">Mat-Buttons</button>
<button mat-button class="warning-btn">Mat-Buttons</button>
<button mat-button class="error-btn">Mat-Buttons</button>
<button mat-button class="info-btn ">Mat-Buttons</button>

<mat-form-field appearance="outline" >
  <input matInput [matDatepicker]="picker1" placeholder="Date of birth" >
  <div matSuffix (click)="picker1.open()">
    <mat-icon svgIcon="calendar" class="default-icon-size"></mat-icon>
  </div>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-slide-toggle>Slide me!</mat-slide-toggle>

<mat-form-field appearance="outline">
  <input matInput [ngxTimepicker]="picker" placeholder="Select time" [readonly]="isDisabled"
         [disabled]="isDisabled">

  <div matSuffix (click)="!isDisabled && picker.open()"
       [style.cursor]="isDisabled ? 'not-allowed' : 'pointer'">
    <mat-icon svgIcon="clock" class="default-icon-size"></mat-icon>
  </div>
  <ngx-material-timepicker #picker></ngx-material-timepicker>
</mat-form-field>
