<mat-form-field appearance="outline">
  <input matInput placeholder="Input placeholder"/>
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-select placeholder="Status" >
    <mat-option value="1">Active</mat-option>
    <mat-option value="2">Inactive</mat-option>
    <mat-option value="3">Active</mat-option>
  </mat-select>
</mat-form-field>

<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1" [disabled]="false">Radio Button Label (Unchecked)</mat-radio-button>
  <mat-radio-button value="2" [disabled]="true">Option 2</mat-radio-button>
</mat-radio-group>

<mat-checkbox class="custom-checkbox">
  I agree to the terms and conditions
</mat-checkbox>
<mat-checkbox class="custom-checkbox" disabled>
  I agree to the terms and conditions
</mat-checkbox>

<button mat-button class="primary-large-btn">Mat-Buttons</button>
<button mat-button class="primary-default-btn">Mat-Buttons</button>
<button mat-button class="primary-small-btn">Mat-Buttons</button>
<button mat-button class="primary-xs-small-btn">Mat-Buttons</button>

<button mat-button class="secondary-large-btn">Mat-Buttons</button>
<button mat-button class="secondary-default-btn">Mat-Buttons</button>
<button mat-button class="secondary-small-btn">Mat-Buttons</button>
<button mat-button class="secondary-xs-small-btn">Mat-Buttons</button>

<button mat-button class="success-btn">Mat-Buttons</button>
<button mat-button class="warning-btn">Mat-Buttons</button>
<button mat-button class="error-btn">Mat-Buttons</button>
<button mat-button class="info-btn ">Mat-Buttons</button>

<mat-form-field appearance="outline" >
  <input matInput [matDatepicker]="picker1" placeholder="Date of birth" >
  <div matSuffix (click)="picker1.open()">
    <mat-icon svgIcon="calendar" class="default-icon-size"></mat-icon>
  </div>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-slide-toggle>Slide me!</mat-slide-toggle>

<mat-form-field appearance="outline">
  <input matInput [ngxTimepicker]="picker" placeholder="Select time" [readonly]="isDisabled"
         [disabled]="isDisabled">

  <div matSuffix (click)="!isDisabled && picker.open()"
       [style.cursor]="isDisabled ? 'not-allowed' : 'pointer'">
    <mat-icon svgIcon="clock" class="default-icon-size"></mat-icon>
  </div>
  <ngx-material-timepicker #picker></ngx-material-timepicker>
</mat-form-field>



<div class="table-container" [class.no-scroll]="dataSource.data.length === 0">
  <table mat-table matSort matTableResponsive [dataSource]="dataSource" class="mat-elevation-z8">


    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" class="check-box-align">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>


    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element" [attr.data-column-name]="'No'"> {{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element" [attr.data-column-name]="'Name'"> {{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Weight</th>
      <td mat-cell *matCellDef="let element" [attr.data-column-name]="'Weight'"> {{ element.weight }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol</th>
      <td mat-cell *matCellDef="let element" [attr.data-column-name]="'Symbol'"> {{ element.symbol }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container *matNoDataRow>
      <div class="mat-row">
        <div class="no-data-row" *ngIf="dataSource.data.length === 0">
          <img src="assets/icons/search-icon.svg">
          No Table Data Found Line
          <p>Sub text line when no table data found goes here</p>
        </div>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.mat-selected]="selection.isSelected(row)"></tr>
  </table>
</div>

<mat-paginator [length]="50" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
</mat-paginator>
