.breadcrumb-bar {
  position: fixed;
  background: var(--sirim-bg-raised);
  top: 110px;
  right: 0;
  width: 100%;
  z-index: 900;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  transition: all .4s ease;
}

.bread-align-content {
  display: flex;
  align-items: center;
}

.breadcrumb-bar-path {
  color: var(--sirim-blue-text-color);
  font-weight: 400;
  width: 215px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: var(--regular-default-font);
}

.breadcrumb-bar-path h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  word-break: break-word;
  color: var(--sirim-text-strong);
}

.breadcrumb-bar-path p {
  color: var(--sirim-text-subtle);
  font-weight: 400;
  word-break: break-word;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.path-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 30px;
  width: calc(100% - 200px);
  padding: 0 10px;
  overscroll-behavior: contain;
  box-sizing: border-box;
  transition: all .4s ease;
}

.menu-toggle {
  display: none;
}

.path-list {
  display: flex;
  align-items: center;
  line-height: 1;
  column-gap: 5px;
  flex-wrap: wrap;
  align-content: center;
}

.lag-icon {
  width: 15px;
  color: var(--sirim-text-subtle);
  height: 30px;
}

.small {
  color: var(--sirim-text-subtle);
  width: 8px;
}

.topic h4 {
  color: var(--sirim-blue-text-color);
  font-size: var(--h4-heading-large-font);
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  width: 230px;
}

.path-list p {
  color: var(--sirim-text-subtle);
  font-size: var(--regular-default-font);
  margin: 0;
  transition: all .4s ease;
}

.breadcrumb-bar-path mat-icon {
  color: var(--sirim-text-subtle);
  height: auto;
  width: 25px;
  transition: all .4s ease;
}

@media (max-width: 755px) {
  .breadcrumb-bar-path mat-icon {
    width: 24px;
  }

  .breadcrumb-bar {
    top: 108px;
  }

  .bread-align-content {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .breadcrumb-bar-path {
    width: 100%;
  }

  .path-main {
    gap: 15px;
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .menu-toggle {
    display: block;
    color: var(--sirim-text-strong);
    left: 20px;
    font-size: 1.75rem;
    cursor: pointer;
  }

  h2 {
    white-space: nowrap;
    font-size: var(--h3-large-small-black-font);
    overflow: hidden;
    line-height: 25px;
    text-overflow: ellipsis;
  }

  h2:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    z-index: 1;
    position: relative;
  }

  .path-list p:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    z-index: 1;
    position: relative;
  }
}
