<app-navbar></app-navbar>
<div class="page-wrapper">
  <app-dashboard-breadcrumb (menuToggled)="onSidebarToggle($event)"></app-dashboard-breadcrumb>
  <div class="main-container">
    <div class="left-sidebar" [class.show]="menuOpen">
      <div>
      <div class="slide-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
           routerLink="/dashboard/home">
        <mat-icon svgIcon="menu"></mat-icon>
        <p>Dashboard</p>
      </div>
      <div class="slide-btn" routerLinkActive="active" routerLink="/dashboard/coa-applications">
        <mat-icon svgIcon="application"></mat-icon>
        <p>COA Applications</p>
      </div>

      <div class="slide-btn">
        <mat-icon svgIcon="quota"></mat-icon>
        <p>Quota Requests</p>
      </div>
      <div class="slide-btn">
        <mat-icon svgIcon="payment"></mat-icon>
        <p>Payments & Invoices</p>
      </div>
      <div class="slide-btn">
        <mat-icon svgIcon="certificate"></mat-icon>
        <p>Certificates</p>
      </div>
      <div class="slide-btn">
        <mat-icon svgIcon="guide"></mat-icon>
        <p>Guides & Fees</p>
      </div>
      <div class="border-line"></div>
      <p class="topic-color">Track Application</p>
      <div class="search-bar">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="Application Number">
          <button type="submit" class="searchButton">
            <img src="assets/icons/search.svg" alt="">
          </button>
        </div>
      </div>
      <div class="topic-colors">
        <p>Enter the application number and search to view real-time status and CoA progress.</p>
      </div>
        </div>
      <div class="bottom-align">
        <div class="border-line padding-align-border"></div>
        <div class="slide-btn padding-align-topic">
          <mat-icon svgIcon="help"></mat-icon>
          <p>Help Center</p>
        </div>
        <div class="slide-btn padding-align-topic">
          <mat-icon svgIcon="team"></mat-icon>
          <p>Terms & Policies</p>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
