.main-container {
  display: flex;
  box-sizing: border-box;
  margin-top: 210px;
  padding: 0 8%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container .left-sidebar {
  width: 200px;
  height: calc(100vh - 210px);
  position: fixed;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  top: 210px;
  overflow: hidden;
  overflow-y: scroll;
  background: var(--sirim-bg-raised);
  overscroll-behavior: contain;
  box-sizing: border-box;
}

.main-container .left-sidebar::-webkit-scrollbar {
  width: 7px;
}

.main-container .left-sidebar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--sirim-scroll-bar);
}

.main-container .left-sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--sirim-scroll-bar-thumb);
}

.main-container .right-sidebar {
  margin-left: 230px;
  width: calc(100% - 200px);
  /*height: calc(100vh - 135px);*/
  padding: 0 10px;
  overscroll-behavior: contain;
  box-sizing: border-box;
}

.main-container .right-sidebar ::-webkit-scrollbar {
  width: 0;
}

.main-container .left-sidebar .slide-btn {
  display: flex;
  align-items: center;
  color: var(--sirim-text-subtle);
  font-size: var(--regular-default-font);
  gap: 12px;
  margin-bottom: 4px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.main-container .left-sidebar .slide-btn mat-icon {
  width: 16px;
}

.main-container .left-sidebar .slide-btn p {
  font-size: var(--regular-default-font);
  padding: 0;
  margin: 0;
}

.main-container .left-sidebar .slide-btn:hover {
  background: var(--navbar-hover-color);
}

.main-container .left-sidebar .slide-btn.active {
  background: var(--navbar-hover-color);
  color: var(--sirim-blue-text-color);
}

.menu-toggle {
  display: none;
}

.left-sidebar p {
  margin-bottom: 10px;
  font-size: var(--bold-default-font);
  font-weight: 400;
}

.left-sidebar .topic-color {
  color: var(--sirim-text-strong);
  font-size: var(--bold-default-font);
  font-weight: 700;
}

.border-line {
  border: 1px solid var(--sirim-bg-edge);
  height: 1px;
  width: 100%;
  margin: 24px 0;
}

.topic-colors p {
  font-size: var(--regular-small-font);
  color: var(--sirim-text-muted);
  word-break: break-word;
  margin-bottom: 8px;
  padding: 0;
}

.main-container .bottom-align {
  position: static;
  width: 100%;
}

.padding-align-topic {
  padding: 5px 10px !important;
}

.padding-align-border {
  margin: 10px 0 !important;
}

.search-bar .search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 12px;
}

.search-bar .searchTerm {
  width: 100%;
  border: 1px solid var(--sirim-input-placehoder);
  border-right: none;
  background: var(--sirim-input-bg);
  padding: 5px;
  font-size: 12px;
  height: 32px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--sirim-input-value-color);
}

.search-bar .searchTerm:focus {
  color: var(--sirim-input-value-color);
}

.search-bar .searchTerm::placeholder {
  color: var(--sirim-input-placehoder);
  opacity: 1;
}

.search-bar .searchButton {
  width: 30px;
  height: 32px;
  border: 1px solid var(--sirim-input-placehoder);
  background: var(--sirim-blue-color);
  text-align: center;
  color: var(--sirim-bg-base);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-bar .searchButton img {
  width: 12px;
  margin-top: -3px;
  height: auto;
}


@media (max-width: 755px) {
  .left-sidebar {
    position: fixed;
    left: -100%;
    background-color: var(--sirim-bg-base) !important;
    height: calc(100vh - 247px) !important;
    top: 273px !important;
    width: 220px !important;
    padding: 10px !important;
    z-index: 600;
  }

  .left-sidebar.show {
    left: 0;
  }

  .main-container {
    margin-top: 285px;
  }

  .main-container .right-sidebar {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  .main-container .bottom-align {
    position: relative;
    bottom: auto !important;
  }
}

@media (max-width: 482px) {
  .main-container {
    margin-top: 300px;
  }

  .left-sidebar {
    height: calc(100vh - 287px) !important;
    top: 287px !important;
  }
}

@media (max-width: 394px) {
  .left-sidebar {
    height: calc(100vh - 301px) !important;
    top: 301px !important;
  }
}
