<form [formGroup]="forgotPasswordForm">
  <div class="login-box">
    <h2>Forgot Password</h2>
    <p>Enter your email to rest your password</p>
    <div class="input-row">
      <p>Email Address</p>
      <mat-form-field class="large-size" appearance="outline">
        <input matInput placeholder="Enter your Email Address" formControlName="email"/>
      </mat-form-field>
    </div>
    <div class="forgot-password-content"></div>
    <button mat-button class="primary-large-btn"  (click)="onResetPassword()">Reset Password</button>
    <div class="border-line"></div>
    <div class="sign-up">
      <p>Already have an account?<span (click)="backToLogin()">Log In</span></p>
    </div>
  </div>
</form>
